{% form_theme form 'foundation_5_layout.html.twig' %}
{{ form_start(form) }}
<br/> <label>Nazwij swoją apteczkę</label> <br/>
    {{ form_widget(form.nazwa) }}
    </br/>
<div class="container form-group">
    <ul id="email-fields-list"
        data-prototype="{{ form_widget(form.medykamenty.vars.prototype)|e }}"
        data-widget-tags="{{ '<p></p>'|e }}"
        data-widget-counter="{{ form.medykamenty|length }}">
    {% for emailField in form.medykamenty %}
        <p class="form-group">
            {{ form_errors(emailField) }}
            {{ form_widget(emailField) }}
            <label style="float:left">Cena</label>
            <input type="number" style="float:left"><br>
        </p>
    {% endfor %}

    </ul>
</div>
    <button type="button"
        class="add-another-collection-widget" style = "height: 45px; margin-top:2px; border: none"
        data-list-selector="#email-fields-list">Dodaj lek</button><br/><br/>
    <button class="btn btn-success">{{ button_label|default('Zapisz') }}</button>

{{ form_end(form) }}


<script>
jQuery(document).ready(function () {
    jQuery('.add-another-collection-widget').click(function (e) {
        var list = jQuery(jQuery(this).attr('data-list-selector'));
        // Try to find the counter of the list or use the length of the list
        var counter = list.data('widget-counter') || list.children().length;

        // grab the prototype template
        var newWidget = list.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your emails
        // end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/__name__/g, counter);
        // Increase the counter
        counter++;
        // And store it, the length cannot be used if deleting widgets is allowed
        list.data('widget-counter', counter);

        // create a new list element and add it to the list
        var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
        newElem.appendTo(list);
        $('.asd').select2();
    });
});
$(document).ready(function() {
    $('.asd').select2();
});
</script>