{% extends 'base.html.twig' %}

{% block title %}Apteczka index{% endblock %}

{% block body %}
<p>To wyrzuć!</p>
    <ul style="color:red">
     {% for p  in przeterminowane %}
         <li>{{p}}</li>
     {% endfor %}
    </ul>
    <h1>Apteczka index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for apteczka in apteczkas %}
            <tr>
                <td>{{ apteczka.id }}</td>
                <td>{{ apteczka.nazwa }}</td>
                <td>
                    <a href="{{ path('apteczka_show', {'id': apteczka.id}) }}">show</a>
                    <a href="{{ path('apteczka_edit', {'id': apteczka.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('apteczka_new') }}">Create new</a>
{% endblock %}
