{% extends 'base.html.twig' %}

{% block title %}Twoje Apteczki{% endblock %}

{% block body %}
<div>
<div class="card text-white bg-danger mb-3" style = 'margin-top: 20px;'>
  <h5 class="card-header">Uwaga!</h5>
  <div class="card-body">
    <h5 class="card-title">Zutylizuj przeterminowane leki z poniższych apteczek:</h5>
    <p class="card-text">
        <ul>
        {% for p  in przeterminowane %}
            <li>{{p}}</li>
        {% endfor %}
        </ul>
    </p>
  </div>
</div>

    <h1 style = 'padding: 20px; margin-top: 50px;'>Twoje Apteczki</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Zarządzaj</th>
            </tr>
        </thead>
        <tbody>
        {% for apteczka in apteczkas %}
            <tr>
                <td>{{ apteczka.id }}</td>
                <td>{{ apteczka.nazwa }}</td>
                <td>
                    <a class='btn btn-info' href="{{ path('apteczka_show', {'id': apteczka.id}) }}">Pokaż</a>
                    &nbsp; &nbsp;
                    <a class='btn btn-primary' href="{{ path('apteczka_edit', {'id': apteczka.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nie zarządzasz aktualnie żadnymi apteczkami.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class = 'btn btn-success' style = 'color: white'><a style = 'text-decoration: none; color: white;' href="{{ path('apteczka_new') }}">Stwórz nową apteczkę</a></div>
    </div>
{% endblock %}
