{% extends 'base.html.twig' %}

{% block title %}Apteczka{% endblock %}

{% block body %}
    <h1>Apteczka</h1>

    <h3> Witaj w {{ apteczka.nazwa }} </h3>

    <table class="table table-hover">
    <tr>
        <th>Nazwa</th>
        <th>Data waznosci</th>
        <th>Ilosc</th>
        <th>Utylizuj</th>
        <th>Wydaj</th>
    </tr>
    {% for lek in apteczka.medykamenty %}
    <tr>
    <td>{{lek.slowniklekow.nazwahadlowa}}</td>
    <td>{{lek.datawaznosci|date}}</td>
    <td>{{lek.ilosc}}</td>
    <td>
        <form method="post" action="{{ path('medykament_utylizuj', {'id': lek.id}) }}" onsubmit="return confirm('Zutylizować?');">
        <input type="text" name="liczba" placeholder="liczba" />
        <button class="btn btn-success">Utylizuj</button>
        </form>
    </td>
    <td>
        <form method="post" action="{{ path('medykament_wydaj', {'id': lek.id}) }}" onsubmit="return confirm('Wydać?');">
        <input type="text" name="liczba" placeholder="liczba" />
        <button class="btn btn-success">Wydaj</button>
        </form>
    </td>

    </tr>
{% endfor %}
    </table>
    <a href="{{ path('apteczka_index') }}">Wróć do listy apteczek</a>

    <a href="{{ path('apteczka_edit', {'id': apteczka.id}) }}">Edytuj</a>

    {{ include('apteczka/_delete_form.html.twig') }}
    
{% endblock %}
