<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" />
    </head>
    <body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/apteczka"><img style = "margin-right: 20px; margin-left: 2em" src = '/pharmacy.svg'/> Apteczka</a>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" style = "color: white;">Wyloguj się</a>
        {% else %}
            <div style = 'float:right;'>
                <div style = 'float:left'><a href="{{ path('app_register') }}" style = "color: white;">Zarejestruj się</a></div>
                <div style = 'margin-left: 3em; margin-right:2em; float:left'><a href="{{ path('app_login') }}" style = "color: white;">Zaloguj się</a></div>
            </div>

        {% endif %}

    </nav>

    <div class = 'container' style = 'padding: 40px; margin-bottom: 50px;                   text-align:center; align-items: center;'>
        {% for message in app.flashes('error') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}
        {% endblock %}
    </div>


    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="navbar-brand" style = "margin-left: 350px">Apteczka Online &copy; 2020 Sara Blichowska | Natalia Szczepanek</div>
        </div>
    </nav>
    {% block javascripts %}{% endblock %}
    </body>
</html>
